* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f1f1f1;
}

.header{
    padding: 30px;
    text-align: center;
    background-color: white;
}

.header h1{
    font-size: 50px;
}

.navbar{
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
    list-style-type: none;   
}

.navbar li a{
    display: block;   
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar li a:hover{
    background-color: #ddd;
    color: black;
}

.right{
    float: right !important;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

.leftcolumn{
    float: left;
    width: 75%;   
}

.rightcolumn{
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;  
    border-radius: 7px;  
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}

.short-navbar{
    display: none;
}

@media only screen and (max-width:1000px){
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width:800px){
    .navbar li, .right{
        float: none !important;
    }    

    li{
        padding-right: 20px; 
    }
    .short-navbar{              
        display: block;
    }

    .navbar-content{
        display: none;
    }
}