body {
    margin: 0;
}

.sidebar {
    border: 1px solid #555;
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
}

.sidebar li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar li.active {
    background-color: #04aa6d;
    color: white;
}

.sidebar li a {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #555;
    color: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a,
.btn-dropdown {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar li.active {
    background-color: #04aa6d;
}

.navbar li.right {
    float: right;
}

.navbar li.border {
    border-right: 1px solid rgb(249, 246, 246);
}

.navbar li.border:last-child {
    border-right: none;
}

.content-sidebar {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
}

.content-navbar {
    padding: 20px;
    background-color: #f1f1f1;
    height: 1500px;
}

li a,
.btn-dropdown {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover,
.btn-dropdown:hover {
    background-color: red;
}

li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;    
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.empty {
    margin-top: 20px;
}